* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.cont-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    position: relative; 
    min-width: 100%;
    padding: 20px 0; 
}

.cont-header a {
    position: absolute;
    left: 4%; 
    color: white; 
    text-decoration: none; 
}
.cont-header a:hover{
    text-decoration: underline;
}

.cont-header h1 {
    text-align: center;
    margin: 0; 
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: row;    
    gap: 20px;            
    padding: 40px 4%;
}

.poster img {
    width: auto;
    height: 600px;
    border-radius: 15px;
    box-shadow: 0 0 10px #ff0000,   
    0 0 20px #ff0000,   
    0 0 40px #ff0000,   
    0 0 80px #ff0000;   
}


.foot-container {
    display: flex;
    justify-content: center; 
    align-items: center;     
    gap: 15px;               
    padding: 20px;   
    background-color: #000000;        
}

.foot-container p {
    margin: 0;
    color: #ff0000; 
}


footer .foot-container img {
    width: 40px;    
    height: auto; 
    filter: invert(15%) sepia(94%) saturate(7483%) hue-rotate(358deg) brightness(97%) contrast(115%);
}

